@charset "utf-8";
@font-face {
    font-family: 'KIMM_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* 초기값, 공통요소(제목, 버튼, 폰트스타일) 웹폰트 */
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style: none;
}

body{
    background-color: #222222;
    color: #fff;
    
    font-family: 'KIMM_Bold';
}



/* 공통스타일 */
.inner{
    width: 1440px;
    margin: 0 auto;
}

.title{
    margin-bottom: 40px;
}

.title h3{
    font-size: 50px;
    margin-bottom: 16px;
}

.title p{
    font-size: 18px;
}

.btn li{
    height: 40px;
    line-height: 40px;      
    padding: 0 18px;
    border-radius: 40px;
    display: inline-block;
}

.btn li:nth-child(1){
    background-color: #fff;
    color: #333;
}
.btn li:nth-child(2){
    background-color: #165F60;
    color: #fff;
}
.btn li:hover{
    background-color: #ed1c24;
    color: #fff;
}



.swiper {
    width: 100%;
    height: 100%;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span{
background: #0ACDCE;
}

.fp-arrow.fp-prev{
    margin: 0 170px;
}
.fp-arrow.fp-next{
    margin: 0 170px;
}